<!DOCTYPE html>
<html lang="en">
 <% include layout/header.ejs %>
<body>
  <% include layout/navbar.ejs %>
  <section style="padding-bottom: 44px; background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/images/bg_1.jpg); padding-top: 100px;">
  <div class="container register-form">
    <div class="form">
        <!-- <div class="note">
            <p>Register the system account</p>
        </div> -->
        <div class="form-content">
            <p class="title-form-register">Register the system account</p>
            <form action="register" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="">Username</label>
                          <input type="text" class="form-control" name="username" placeholder="Username *" value=""/>
                        </div>
                        <div class="form-group">
                          <label for="">Your fullname</label>
                          <input type="text" class="form-control" name="fullname" placeholder="Your fullname" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="">Gender</label>
                            &nbsp;&nbsp;
                            <input type="radio" name="gender" value="male" checked>Male</input>&nbsp;&nbsp;
                            <input type="radio" name="gender" value="female"> Female<br>
                          </div>
                        <div class="form-group">
                          <input type="checkbox" id="wantTourGuide" name="wantTourGuide" value=""/>
                          <label for="">You want to be a tour guide? </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="">Your password</label>
                          <input type="password" name="password" class="form-control" placeholder="Your Password *" value=""/>
                        </div>
                        <div class="form-group">
                          <label for="">Confirm password</label>
                          <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password *" value=""/>
                        </div>
                    </div>
                </div>
                <div class="row" id="rowWantTourGuide">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Your email</label>
                            <input type="email" name="email" class="form-control" placeholder="Your email *" value=""/>
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Your address</label>
                            <input type="text" name="address" class="form-control" placeholder="Your address *" value=""/>
                          </div>
                    </div>
                </div>
                <button type="reset" class="btnReset">Reset</button>
                <button type="submit" class="btnSubmit">Submit</button>
            </form>
            
        </div>
    </div>
</div>
</section>
<script src="../js/jquery.min.js"></script>
<script>
  $('#rowWantTourGuide').hide();
  $('#wantTourGuide').on('change',function(){
      $(this).is(':checked') ? $('#rowWantTourGuide').show() : $('#rowWantTourGuide').hide();
  });
</script>
</body>
</html>