<!DOCTYPE html>
<html lang="en">
  <% include layout/header.ejs %>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container">
        <a class="navbar-brand" href="home.ejs">Travel Hub</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#ftco-nav"
          aria-controls="ftco-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/tours" class="nav-link">Tours</a>
            </li>
            <li class="nav-item">
              <a href="/tour-guides" class="nav-link">TourGuide</a>
            </li>
            <li class="nav-item">
              <a href="/register" class="nav-link">Register</a>
            </li>
            <li class="nav-item">
              <a href="/login" class="nav-link">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->
    <section>
      <h1>Tours list</h1>
      <% for(let i = 0 ; i <listPlace.length;i++) { %>
        <div class="item">
          <div class="blog-entry">
            <a
              href="/place-detail#"
              class="block-20"
              style="background-image: url(<%= listPlace[i].imgPlace %>);"
            >
            </a>
            <div class="text p-4">
              <div class="meta">
                <div>
                  <a
                    style="font-weight: bold; color: #333; font-size: 120%;"
                    href="#"
                    ><%= listPlace[i].namePlace%></a
                  >
                </div>
              </div>
              <h3 class="heading">
                <a href="#"><%= listPlace[i].des%></a>
              </h3>
              <p class="clearfix">
                <a href="#" class="float-left">Read more</a>
                <a href="#" class="float-right meta-chat"
                  ><span class="icon-chat"></span> 3</a
                >
              </p>
            </div>
          </div>
        </div>
        <% } %>
    </section>
    <% include layout/footer.ejs%>
  </body>
</html>
